<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% include 'base_static_template.html' %}

    <!-- CSS File -->
    <link rel="stylesheet" href="{% static 'css/melihat.css' %}" type="text/CSS">
    <title>Daftar Request Konsultasi</title>
</head>
{% include 'base_navbar.html' %}
{% block content %}
<body>
    <div class="container container-judul">
        <h2>LOG TITLE</h2>
    </div>
	<table>
		<tr>
			<td>Timestamp
			<td>Message
		{% for log in logs %}
		<tr>
			<td> {{ log.0 }}
			<td> {{ log.1 }}
		{% endfor %}
</body>
</html>
{% endblock %}
