<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CSS File -->
    <link rel="stylesheet" href="{% static 'css/melihat.css' %}" type="text/CSS">
    <title>Daftar Request Konsultasi</title>
</head>

{% block content %}
<body>
    <div class="container container-judul">
        <h2>Logs</h2>
    </div>
		<table>
		{% for log in logs %}
		{% if log.type == "warning" %}
		<tr style="background-color:#ffffc0">
		{% elif log.type == "error" %}
		<tr style="background-color:#ffc0c0">
		{% else %}
		<tr style="background-color:#c0c0ff">
		{% endif %}
			<td style="border: 1px solid"> {{ log.timestamp }} 			
			{% if log.body %}
			<td style="border: 1px solid"> {{ log.body }}
			{% else %}
			<td style="border: 1px solid">{{ log.message }}
			{% endif %}
			<td style="border: 1px solid"> {{ log.type }}
			<td style="border: 1px solid"> {{log.source}} || {{ log.function }}
		</div>
		{% endfor %}
</body>
</html>
{% endblock %}
